# templates/home.html
{% extends "base.html" %}
{% block content %}
<div class="motos-grid">
    {% for moto in motos %}
        <div class="moto-card">
            {% if moto.image_url %}
            <img src="{{ moto.image_url }}" alt="{{ moto.marque }} {{ moto.modele }}">
            <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
           <!-- <img src="{{ url_for('static', filename='img/moto.jpg') }}" alt="Moto">-->
            {% endif %}

            <h2> {{ moto.marque }} {{ moto.modele }}</h2>
                <p>Année : {{ moto.annee }}</p>
                <p>Prix : {{ moto.prix }}</p>
            <a href="{{ url_for('main.moto_details', id=moto.id) }}" class="btn"> Voir détails</a>
        </div>
    {% endfor %}
</div>
{% endblock %}

